<div id="reserve">
    <div class="containerRSVP">
        <h1>Guest List</h1>
        <hr>
        <div v-if="attendees.length == 0">
            <p class="info">There are currently no reservations for the next Taco Tuesday. 😢</p>
        </div>
        <div v-else>
            <div class="grid">
                <table class="table table-dark">

                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Size of Party</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="attendee in attendees">
                            <td>{{ attendee.firstName }} {{ attendee.lastName }}</td>
                            <td>{{ attendee.partySize }}</td>
                        </tr>
                        <tr>
                            <td><b>Total:</b></td>
                            <td><b>{{ totalAttendance }}</b></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="js/reserve-script.js"></script>
